.todosContainer {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-template-rows: 1fr;
	grid-column-gap: 0px;
	grid-row-gap: 0px;
	grid-template-areas: "dailyTodos weeklyTodos specificTodos";
	margin-bottom: 2vh;
}

.dailyTodos {
	grid-area: dailyTodos;
}
.weeklyTodos {
	grid-area: weeklyTodos;
}
.specificTodos {
	grid-area: specificTodos;
}

.completed {
	color: gray;
	text-decoration: line-through;
}
