html,
body {
	height: 100%;
	margin: 0 auto;
	font-family: 'Montserrat', sans-serif;
	text-align: center;
}

header {
	margin-bottom: 10vh;
}

.todoListsContainer {
	margin: 0 auto;
	width: 50%;
}

.todoListsGrid {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-template-rows: 1fr;
	grid-column-gap: 0px;
	grid-row-gap: 0px;
	grid-template-areas: "dailyTodos weeklyTodos specificTodos";
	margin-bottom: 2vh;
}

.dailyTodos {
	grid-area: dailyTodos;
}
.weeklyTodos {
	grid-area: weeklyTodos;
}
.specificTodos {
	grid-area: specificTodos;
}

.todosUl {
	list-style-type: none;
	padding: 0;
}

.completed {
	color: gray;
	text-decoration: line-through;
}
